body {
    margin: 0;
    padding: 0;
}

form {
    background: linear-gradient(#000046, #1CB5E0);
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    margin: auto;
    max-width: 450px;
    border-left: black;
    box-shadow: 0px 0px 25px aqua;
    margin-top: 0;
}
  
input,
select {
    width: 349px;
    padding: 8px 10px;
    border: none;
    border-left: 3px solid black;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.register {
    padding: 8px 20px;
    border: black;
}

h2 {
    text-align: center;
    color: antiquewhite;
}

select {
    margin-left: auto;
    width: 370px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    color: antiquewhite;
    font-size: 0.88em;
    line-height: 2.1;
    padding: 45px;
}

img{

margin: 20px;
margin-top: 20px;
height: 130px;
border-radius: 30px;
box-shadow:  0px 0px 10px black;
}

header{

height: 70px;


}